.image-settings {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.details-div{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.card-width {
  width: 80%;
  height: 98%;
  cursor: pointer;
}

